[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.6.1"
"asn1crypto" = "==0.24.0"
atomicwrites = "==1.1.5"
attrs = "==18.1.0"
awscli = "==1.15.65"
bcrypt = "==3.1.4"
behave = "==1.2.6"
botocore = "==1.10.64"
certifi = "==2018.4.16"
cffi = "==1.11.5"
click = "==6.7"
colorama = "==0.3.9"
cryptography = "==2.3"
docutils = "==0.14"
flasgger = "==0.9.0"
idna = "==2.7"
itsdangerous = "==0.24"
jmespath = "==0.9.3"
jsonschema = "==2.6.0"
mistune = "==0.8.3"
more-itertools = "==4.2.0"
paramiko = "==2.4.1"
parse = "==1.8.4"
pipenv = "==2018.7.1"
pluggy = "==0.6.0"
py = "==1.5.4"
"pyasn1" = "==0.4.3"
pycparser = "==2.18"
pytest = "==3.6.3"
pytest-flask = "==0.10.0"
pytest-splinter = "==1.9.1"
python-dateutil = "==2.7.3"
rsa = "==3.4.2"
"s3transfer" = "==0.1.13"
selenium = "==3.13.0"
six = "==1.11.0"
splinter = "==0.8.0"
virtualenv = "==16.0.0"
virtualenv-clone = "==0.3.0"
Flask = "==1.0.2"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
parse_type = "==0.4.2"
PyNaCl = "==1.2.1"
PyYAML = "==3.13"
SQLAlchemy = "==1.2.8"
Werkzeug = "==0.14.1"

[dev-packages]

[requires]
python_version = "3.7"
