atomicwrites==1.1.5
attrs==18.1.0
behave==1.2.6
certifi==2018.4.16
click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.2.0
parse==1.8.4
parse-type==0.4.2
pluggy==0.6.0
py==1.5.4
pytest==3.6.3
pytest-flask==0.10.0
pytest-splinter==1.9.1
selenium==3.13.0
six==1.11.0
splinter==0.8.0
SQLAlchemy==1.2.8
Werkzeug==0.14.1
